@import "tailwindcss";

@theme {
  --color-brand-bg: #F7F7F5;
  --color-brand-primary: #D9D9D2;
  --color-brand-text: #6B6B6B;
  --color-brand-accent: #3F3F3F;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-text antialiased;
  }
}
